body{
    background-color: gray;
}
.n{
    text-align: center;
}

.b {
    background-color: black;
    margin: auto;
    border:black solid 1px;
    width: 625px; 
    height:800px;
}
.t{
    background-color: beige;
    height: 100px;
    width: 625px;
    border-radius: 10px;
}


.blue{
    background-color: skyblue;
    width: 150px;
    height:150px;
    
}
.pink{
    background-color: lightcoral;
    width: 150px;
    height:150px;   
}
.ddd{
    width: 150px;
    height:150px;
    font-size: 30px;
}